{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Баркевич Дмитро</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
</head>
<body>
    <script src="{% static 'js/home.js' %}"></script>
    <div style="background-color: grey; height: 100%; width: 10%; position: fixed; left: 0; top: 0;"></div>
    <div class="header">
        <div class="header__logo">
            <img src="{% static 'img/logo.svg' %}" alt="logo" >
        </div>
    </div>
</body>
</html>